<%= form_for @program, :html => { :class => "program" } do |f| %>

    <% if @program.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @program.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label' %>
    <%= f.text_field :title, :class => 'form-control' %>
    <%= error_span(@program[:title]) %>
  </div>
  <div class="form-group">
    <%= f.label :subtitle, :class => 'control-label' %>
    <%= f.text_field :subtitle, :class => 'form-control' %>
    <%= error_span(@program[:subtitle]) %>
  </div>
  <div class="form-group">
    <%= f.label :code, :class => 'control-label' %>
    <%= f.text_field :code, :class => 'form-control' %>
    <%= error_span(@program[:code]) %>
  </div>

  <div class="form-group">
    <%= f.label :language_id, "Language"  %>
    <%= f.collection_select :language_id, Language.all, :id, :name, {:prompt => "Select Language"}, {:class=> 'form-control'} %>
  </div>

  <div class="form-group">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            programs_path, :class => 'btn btn-default' %>
  </div>
<% end %>
